<body>
  <div class="post_content">

    <div class="side_content">
     <h1>コンテンツ（準備中）</h1>
    </div>
    
    <div class="content_form">
      <% @pictures.each do |picture| %>
      <% if picture.user_id == current_user.id %>
      <div class ="posted_box">
        
        <ul class="posted_content">
          <li><%= picture.user.name %></li>
          <li><%= picture.content %></li>
        </ul>

        <% if picture.image_topic.present? %>
        <ul class="posted_picture">
          <li><%= image_tag picture.image_topic.url, width: '100%', height: '100%' %></li>
        </ul>
        <% end %>
    

        <ul class="create_form clearfix">
          <li class="col-md-2"><%= link_to '詳細', picture %></li>
          <li class="col-md-2"><%= link_to '編集', edit_picture_path(picture) %></li>
          <li class="col-md-2"><%= link_to '削除', picture, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>

      <% else %>
      <div class ="posted_box">
        
        <ul class="posted_content">
          <li><%= picture.user.name %></li>
          <li><%= picture.content %></li>
        </ul>
        
        <% if picture.image_topic.present? %>
        <ul class="posted_picture">
          <li><%= image_tag picture.image_topic.url, width: '100%', height: '100%' %></li>
        </ul>
        <% end %>

        <ul class="create_form clearfix">
          <li class="col-md-2"><%= link_to '詳細', picture %></li>
        </ul>
      </div>
      <% end %>
      <% end %>
    </div>

    <div class="all_friends">
      <h1>友だち一覧（準備中）</h1>
    </div>



  </div>

  <footer></footer>
</body>